#header{
    text-align: center;
}


  @font-face{
    font-family: 'Roboto', sans-serif;
  }
*{
  font-size: 30px;
  font-family:'Roboto', sans-serif;
}

img{
      border-radius: 70%;
      width: 400;
      
  }
  nav{
    width: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
  nav .navLinks {
    flex-basis: 80%;
    display: inline-flex;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
nav ul li {
    display: inline-block;
    padding: 10px;
    background-color:black;
    flex-basis: 26%;
}
li a {
    color:white;
    text-decoration: none;
    font-size: 24px;
}
  
 


  aside a {
    display: inline-block;
    padding: 10px 12px;
    text-align: center;
    border: 3px #454372 solid;
    border-radius: 8px;
    margin: 4px 2px;
    text-decoration: none;
    color: #454372;
}


form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-basis: 80%;
  justify-content: left;
}
form label, input[type="text"], input[type="email"], textarea  {
  flex-basis: 45%;
  margin: 5px;
  padding: 10px;
  resize: none;
}
form label {
  text-align: left;
}
form input[type="submit"] {
  padding: 16px 75px;
  border: none;
  background-color: #2f2963;
  text-align: left;
  color: white;
  text-transform: uppercase;
  margin-left: 45%;
}
#contact_heading {
  text-align: left;
  flex-basis: 100%;
}
  #footer{
      text-align: center;
  }
